body{
    padding: 0;
    margin: 0;
}

.container{
    margin: 30px;
    display: flex;
    align-items: center;
    padding: 0px 0px 30px;
    justify-content: center;
}
.form{
    border: 2px solid rgb(112, 110, 110);
    display: grid;
    height: 380px;
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#insta{
    margin: auto;
    width: 175px;
}
.data{
    margin: auto;
}
.button{
    margin: auto;
}
.option{
    margin: auto;
}
.facebook{
    margin: auto;
}
#senha{
    margin: auto;
}

.add{
    border: 2px solid rgb(112, 110, 110);
    margin: 30px 0 30px 0;
}
.store{
    text-align: center;
}